@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  background-color: #4A1942;
  color: #2E1C2B;
  font-family: helvetica;
  margin: 0;
}

#root {
  background-color: #EAEAEA;
  max-width: 600px;
  margin: auto;
  min-height: 100vh;
  padding: 10px 30px;
}

h1, h2 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

ul {
  margin: 0;
}

.auth-input {
  display: block;
  margin: 3px 0 8px 0;
}

#auth-forms {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

#sign-up, #log-in {
}

.message {
  background-color: #2E1C2B;
  color: #EAEAEA;
  width: 260px;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 4px 0;
}

#wordmark {
  text-decoration: none;
  color: inherit
}

@media only screen and (max-width: 600px) {
  #root {
    margin: 0;
  }
  
  #auth-forms {
    justify-content: start;
  }
}