@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* ---------------- */
/* FULL APP STYLING */
/* ---------------- */

html {
  height: 100vh;
}

body {
  background-color: #4A1942;
  color: #2E1C2B;
  font-family: helvetica;
  /* height: 100vh; */
  margin: 0;
}

#root {
  background-color: #EAEAEA;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 30px 40px 30px;
  border-radius: 4px;
}

h1, h2 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

ul {
  margin: 0;
}

#wordmark {
  text-decoration: none;
  color: inherit
}

/* ---------- */
/* AUTH FORMS */
/* ---------- */

.auth-input {
  display: block;
  margin: 3px 0 8px 0;
}

#auth-forms {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

#sign-up, #log-in {
}

/* ---------------------- */
/* CHAT SPECIFIC ELEMENTS */
/* ---------------------- */

#chatbox {
  border: 2px black solid;
  border-radius: 4px;
  margin: 10px 0;
}

#message-form {
  display: flex;
}

#message-text-input {
  /* width: 100% */
  flex-grow: 10;
}

.messages {
  height: 500px;
  background-color: #e3e3e3;
  /* overflow: auto; */
  padding: 0;
  overflow-wrap: normal;
}

.sender {
  margin: 20px 0 0 0 ;
  
}

.message {
  padding: 0 10px;
  margin: 0;
}

.message-text {
  margin: 5px 0 5px 10px;
}

div[class^='react-scroll']::-webkit-scrollbar-track, div[class*=' react-scroll']::-webkit-scrollbar-track {
  border: 0px;
  padding: 2px 0;
  background-color: transparent;
}

div[class^='react-scroll']::-webkit-scrollbar, div[class*=' react-scroll']::-webkit-scrollbar {
  width: 10px;
}

div[class^='react-scroll']::-webkit-scrollbar-thumb, div[class*=' react-scroll']::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}

/* -------- */
/* PET PAGE */
/* -------- */

#pet-img {
  width: 200px;
}

/* RESPONSIVE ELEMENTS */

@media only screen and (max-width: 600px) {
  #root {
    margin: 0;
  }
  
  #auth-forms {
    justify-content: start;
  }
}